@inherits LayoutComponentBase
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="_content/Radzen.Blazor/css/default.css">
<link rel="stylesheet" href="css/blazor.css">
<div class="main">
    @Body
</div>
<RadzenDialog />